<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>Hey are you looking for reliable employee? You're in right place</h1>
		<p>Imagine if you have someone who can get you employee on demand, we are that someone. Tell us who you are looking for and we will find.</p>
		<a href="https://instancejob.typeform.com/to/UFORlh" class="btn btn-primary btn-lg">Enter details</a>
	</div>
</div>
	
</body>
</html>
