<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>Hey Nacho!</h1>
		<p>Imagine if you have someone who can refer you and get you casual shifts</p>
		<a href="https://instancejob.typeform.com/to/cFeB1y" class="btn btn-primary btn-lg">Enter details</a>
	</div>
</div>
	
</body>
</html>
